<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About The Project</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Heart Attack Predictor !</h1>
        </header> 

        <nav>
            <a href="home" target="_blank">Home Page</a>
            <a href="predictor" target="_blank">Predictor</a>
        </nav>
        
        <article>
            <h2>About The Project</h2>
            <p><br><br><br></p>
                <p>As the saying goes 'Prevention Is Better Than Cure !'</p>
                <p>Cardiac Arrests/ Strokes/ Heart Attacks are major killers amongst all all over the globe !</p>
                <p>An estimate says that about 10 million people loose their lives because of Heart  Attacks each year, worldwide. But what if one already knows when is he gonna get an attack ? The chances of his survival can rise by upto 40%</p>
                <p>This changes everything !</p>
                <p>The data has been taken from the famous <a href="www.kaggle.com">kaggle</a> website. The aim was to successfully generate a model that would be able to comprehend and predict the probablity of a person getting an heart attack which can be of great use in monitoring one's health.</p>
        </article>

        <footer>
            <p>Created by <a href="#" target="_blank">Nilotpal Malakar</a></p>
        </footer>
    </div>
</body>
</html>


<body>

</body>
</html>