<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Heart Attack Predictor !</h1>
        </header> 

        <nav>
            <a href="predictor" target="_blank">Predictor</a>
            <a href="about" target="_blank">About The Project</a>
        </nav>
        
        <article>
            <h2>Synopsis !</h2>
            <p>
                Each year about half a million people ddie of cardiac arrests all over the world. Half of them are due to negligence and lack of medication.
                The model is built with an aim of letting people prone to attacks that they need assistance.
            </p>
        </article>

        <footer>
            <p>Created by <a href="#" target="_blank">Nilotpal Malakar</a></p>
        </footer>
    </div>
</body>
</html>